header {
  height: 5vh;
  padding: 0 3%;
  margin-bottom: 3vh;
  background: #0105ffad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  /* width: 5%; */
}

figure img {
  width: 10vh;
}
