.totalSeats {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2%;
  /* margin: 6px; */
  background: #363636;
}

.totalSeats:hover,
.totalSeats__table:hover {
  background: #505050;
}

.totalSeats__table {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  background: #363636;
  padding: 0 2%;
}

.totalSeats__table__participation,
.totalSeats__table__distribution {
  display: flex;
  flex-direction: column;
  align-items: center;
}
