.main{
    display: flex;
    flex-direction: row;
}

.prompt{
    display: flex;
    flex-direction: column;
}
.senate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data{
    display: flex;
    flex-direction: row;
}

.showButton{
    margin-bottom: 10px;
}