.grid{
    min-width: 100px;
    min-height: 100px;
    width: 200px;
    height: auto;
    border: 5px solid rgb(59, 55, 55);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
    margin: 10px;
}

.gridLabel{
    font-weight: normal;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}