.group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 60vw;
    height: auto;
    align-items: center;
    justify-items: center;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    
}